extends layout

block content
  h1= title
  p This is some serious foo right here!
  p.bats Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga a illum libero quae, accusantium non.
  .pigs
    article
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet beatae quasi delectus sapiente vel tempora quia unde sequi autem, fugiat placeat dolorem, rerum sunt sit, quae repudiandae deleniti at velit.
      p Nesciunt mollitia, quaerat neque aliquam veritatis sequi animi esse cumque rem et pariatur ea error deserunt sint non, ratione saepe tempore laborum vitae recusandae dolorum iusto quia! Magnam, incidunt, odio!
      p Molestiae, ipsa ipsum animi voluptate laborum laboriosam odio atque hic est esse nam qui quod, nemo harum sint accusamus labore facere voluptas excepturi expedita voluptatibus. Est beatae, atque iure quos!
      article
        section Section text is ere, is it times three?
        section Section text is here, is it times three?
        section Section text is here, is it times three?
        footer
          a(href="https://www.google.com") Link Text
